<div class="mt-24 w-full max-w-lg mx-auto">
  <!-- Progress Bar -->
  <div class="w-full bg-gray-200 rounded-full h-2.5 mb-6">
    <div
      class="bg-indigo-600 h-2.5 rounded-full"
      [ngStyle]="{ width: progress + '%' }">
    </div>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <!-- Step 1: Participants -->
    <div *ngIf="currentStep === 1">
      <h2 class="text-xl font-bold text-slate-800 mb-4">Entrez le nom des participants (3 minimum) :</h2>
      <div formArrayName="participants">
        <div *ngFor="let participant of participants.controls; let i = index">
          <input
            [formControlName]="i" id="participant{{ i }}"
            [placeholder]="'Participant ' + (i + 1)"
            class="border border-slate-300 p-2 mb-2 rounded w-full" />
        </div>
      </div>
      <button type="button" (click)="addParticipant()" class="border border-slate-300 text-indigo-600 px-4 py-2 rounded mb-4 w-full">
        + Ajouter un participant
      </button>
      <div *ngIf="isContinuerClicked && !validParticipants" class="text-red-900 bg-red-200 rounded p-4 mb-4 ">
        Veuillez rentrer 3 participants minimum.
      </div>
      <div class="flex justify-between">
        <button type="button" class="px-4 py-2 rounded text-white bg-indigo-600" (click)="nextStep()">Continuer</button>
      </div>
    </div>

    <!-- Step 2: Event Details -->
    <div *ngIf="currentStep === 2">
      <h2 class="text-xl font-bold text-slate-800 mb-4">Entrez les détails de l'évènement :</h2>
      <fieldset formGroupName="infos">
        <div class="control">
          <label for="organiser">Organisateur</label>
          <input
            id="organiser"
            type="text"
            name="organiser"
            placeholder="Entrez votre nom ou celui de l'entité"
            formControlName="organiser"
            class="border border-slate-300 p-2 mt-2 mb-4 rounded w-full"
          />
        </div>
        <div class="control">
          <label for="eventName">Nom de l'évènement</label>
          <input
            id="eventName"
            type="text"
            name="eventName"
            placeholder="Entrez le nom de l'évènement"
            formControlName="eventName"
            class="border border-slate-300 p-2 mt-2 mb-4 rounded w-full"
          />
        </div>
        <div class="control">
          <label for="eventDate">Date</label>
          <input
            id="eventDate"
            type="text"
            name="eventDate"
            placeholder="Entrez la date de l'évènement"
            formControlName="eventDate"
            class="border border-slate-300 p-2 mt-2 mb-4 rounded w-full"
          />
        </div>
        <div class="control">
          <label for="eventLocation">Lieu</label>
          <input
            id="eventLocation"
            type="text"
            name="eventLocation"
            placeholder="Entrez le lieu de l'évènement"
            formControlName="eventLocation"
            class="border border-slate-300 p-2 mt-2 mb-4 rounded w-full"
          />
        </div>
      </fieldset>
      <div *ngIf="isContinuerClicked && this.form.controls.infos.invalid" class="text-red-900 bg-red-200 rounded p-4 mb-4 ">
        Veuillez remplir tous les champs.
      </div>
      <div class="flex justify-between">
        <button type="button" class="px-4 py-2 rounded text-white bg-gray-600" (click)="previousStep()">Retour</button>
        <button type="button" class="px-4 py-2 rounded text-white bg-indigo-600" (click)="nextStep()">Continuer</button>
      </div>
    </div>

    <!-- Step 3: Budget -->
    <div *ngIf="currentStep === 3">
      <h2 class="text-xl font-bold text-slate-800 mb-4">Sélectionnez le budget pour un cadeau :</h2>
      <div class="grid grid-cols-3 gap-4 mb-4">
        <button
          *ngFor="let option of budgetOptions"
          [ngClass]="{
            'bg-indigo-600 font-bold text-white': (form.get('budget')?.value === option.value) || (option.value === 'custom' && customBudgetValue !== null),
            'bg-gray-200 text-gray-800': form.get('budget')?.value !== option.value && !(option.value === 'custom' && customBudgetValue !== null)
          }"
          (click)="selectBudget(option.value)"
          class="px-4 py-3 rounded focus:outline-none transition-colors duration-200">
          {{ option.label }}
        </button>
      </div>

      <div *ngIf="isCustomBudgetSelectedOrEntered()">
        <input
          id="customBudget"
          type="number"
          (input)="onCustomBudgetInput($event)"
          placeholder="Entrez un montant"
          class="border border-slate-300 p-2 mb-2 rounded w-full"
        />
      </div>
      <div *ngIf="isContinuerClicked && this.form.controls.budget.invalid" class="text-red-900 bg-red-200 rounded p-4 mb-4 ">
        Veuillez sélectionner un budget.
      </div>
      <div class="flex justify-between">
        <button type="button" class="px-4 py-2 rounded text-white bg-gray-600" (click)="previousStep()">Retour</button>
        <button type="button" class="px-4 py-2 rounded text-white bg-indigo-600" (click)="nextStep()">Continuer</button>
      </div>
    </div>

    <!-- Step 4: Récapitulatif -->
    <div *ngIf="currentStep === 4">
      <h2 class="text-xl font-bold text-slate-800 mb-4">Récapitulatif :</h2>

      <div class="mb-4">
        <h3 class="font-bold text-indigo-600">Participants :</h3>
        <ul>
          <li *ngFor="let participant of participants.controls">{{ participant.value }}</li>
        </ul>
      </div>

      <div class="mb-4">
        <h3 class="font-bold text-indigo-600">Détails de l'évènement :</h3>
        <p><strong>Organisateur :</strong> {{ form.get('infos.organiser')?.value }}</p>
        <p><strong>Nom de l'évènement :</strong> {{ form.get('infos.eventName')?.value }}</p>
        <p><strong>Date :</strong> {{ form.get('infos.eventDate')?.value }}</p>
        <p><strong>Lieu :</strong> {{ form.get('infos.eventLocation')?.value }}</p>
      </div>

      <div class="mb-4">
        <h3 class="font-bold text-indigo-600">Budget :</h3>
        <p><strong>Montant :</strong> {{ customBudgetValue !== null ? customBudgetValue : form.get('budget')?.value }} €</p>
      </div>

      <div class="flex justify-between">
        <button type="button" class="px-4 py-2 rounded text-white bg-gray-600" (click)="previousStep()">Retour</button>
        <button type="submit" class="px-4 py-2 rounded text-white bg-indigo-600">Générer le secret santa</button>
        <div *ngIf="submitResponse$ | async as response">
          <p>Form submitted successfully! Response: {{ response | json }}</p>
        </div>
      </div>
    </div>

  </form>
</div>
