<app-header></app-header>
<div class="my-24 w-full max-w-lg mx-auto text-center">
  <h2 class="font-bold text-indigo-600 text-2xl">{{ eventName }}</h2>
  <p><strong>Organisateur :</strong> {{ organizer }}</p>
  <p></p>
  <p class="mt-8 mb-2">Partagez les résultats du tirage :</p>
  <button
  type="button"
  class="px-4 py-2 md:w-full rounded text-white bg-indigo-600 hover:bg-indigo-800"
  (click)="copyLink()">
  Copier le lien
</button>
  <div *ngIf="copyMessage"
  class="m-4 p-4 rounded transition-opacity duration-600 ease-in-out"
  [ngClass]="{
      'opacity-0': (!copyError || !copySuccess),
      'opacity-100': (copySuccess || copyError),
      'text-green-900': copySuccess,
      'bg-green-200': copySuccess,
      'text-red-900': copyError,
      'bg-red-200': copyError,
  }">
    {{ copyMessage }}
  </div>
</div>

