<div class="my-24  px-6 w-full max-w-lg mx-auto">
  <h3 class="font-bold text-slate-600 text-2xl">Qui êtes vous ?</h3>
    <div *ngIf="errorMessage" class="mt-4 p-4 rounded text-red-900 bg-red-200">
      {{ errorMessage }}
    </div>

    <div *ngIf="giftAssignements">
      <button
      *ngFor="let assignment of giftAssignements"
      class="flex flex-col px-4 py-3 my-3 rounded border w-full"
      [ngClass]="{' border-slate-300 text-slate-300': assignment.revealed, ' border-slate-300 hover:bg-indigo-600 text-indigo-600 hover:text-white': !assignment.revealed}"
      (click)="goToConfirmParticipant( assignment.giver)"
      [disabled]="assignment.revealed"
      >
      {{  assignment.giver }}
    </button>
  </div>
</div>
