<div class="my-24 w-full max-w-lg mx-auto">
  <h3 class="font-bold text-slate-600 text-2xl">Qui êtes vous ?</h3>
  <div *ngIf="secretSantaDetails" class="p-6 max-w-lg mx-auto space-y-4">
    <h2 class="text-2xl font-bold text-indigo-600">{{ secretSantaDetails.event_name }}</h2>

    <p><strong>Organisateur:</strong> {{ secretSantaDetails.organizer }}</p>

    <p><strong>Date de l'événement:</strong> {{ secretSantaDetails.event_date }}</p>

    <p><strong>Lieu de l'événement:</strong> {{ secretSantaDetails.event_location }}</p>

    <p><strong>Budget:</strong> {{ secretSantaDetails.budget | currency:'EUR' }}</p>

    <h3 class="text-lg font-semibold mt-4">Participants:</h3>
    <ul class="list-disc list-inside">
      <li *ngFor="let participant of secretSantaDetails.participants">{{ participant }}</li>
    </ul>
  </div>

  <div *ngIf="errorMessage" class="mt-4 p-4 rounded text-red-900 bg-red-200">
    {{ errorMessage }}
  </div>

</div>

